@media (max-width: 768px){
	/* Elimina el display flex del media all */
	/* Y transforma los hijos en filas planas */
	.blogBody {
		display: block;
	}

	.slider {
		height: 120px;
	}

	h2, p {
		margin: 0;
	}

	/* La altura maxima del dispositivo (100vh) menos la altura fija del slider (120px) */
	/* Utilizamos la función "calc" de CSS */
	.publicidad {
		height: calc(100vh - 120px);
	}
	.infoBlog {
		height: 100vh;
	}
	.redes {
		height: calc(100vh - 30px);
	}

	.menuMob {
		display: block;
		position: fixed;
		right: 0;
		top: calc(50vh - 90px);
	}
	.menuMob ul {
		padding: 0;
		margin: 0;
	}
	.menuMob ul li {
		list-style: none;
		padding: 5px;
		background-color: #333;
		margin-bottom: 2px;
		width: 40px;
	}
	.menuMob ul li a {
		color: #fff;
		font-size: 25px;
	}
}