/* Todos los tamaños de pantalla */
@media all {
	* {
		box-sizing: border-box;
	}
	body {
		margin: 0;
		font-family: sans-serif;
	}
	/* Para que no se vea el menu mobile en el desktop */
	.menuMob {
		display: none;
	}
	.blogBody {
		display: flex;
	}
	.blogBox {
		flex: 1;
		padding: 15px;
	}
	.slider {
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
	.publicidad {
		background-color: #E5B9B7
	}
	.infoBlog {
		background-color: #24DB96
	}
	.redes {
		background-color: #C0D6E4
	}

	/* Las imagenes hijas del slider */
	/* Las imagenes contenidas en el slider */
	.slider img {
		width: 100%;
	}

	.blogFooter {
		padding: 6px;
		text-align: center;
		background-color: #09b;
	}

	.blogFooter p {
		color: #fff;
	}
}
