* {
	box-sizing: border-box;	
}
body {
	/* Que se ajuste al borde de la pantalla */
	margin: 0;

	font-family: sans-serif;

	/* Transformo el body en una caja flexible */
	/* cambio el display o aspecto del contenedor */
	display: flex;

	/* Para alinear al medio el hijo */
	justify-content: center;

	/* Altura de la pantalla */
	height: 100vh;

	/* Alinear al centro vertical */
	align-items: center;
}
.btn {
	/* Para la sombra */
	box-shadow: 1px 0px 8px #f43650;
    background-color: #f43650;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
#formRegistro {
	width: 300px;
	/* Problema de aliniaciones */
	/* margin: auto; */
}
.btn-container {
	text-align: right;
	margin-top: 30px;
}
label {
	width: 100px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #444;
}
.form-row {
	margin-bottom: 30px;
	border-bottom: 1px solid #999;
}
.form-input {
	width: calc(100% - 105px);
	border: none;
	height: 30px;
}
h1 {
	margin: 0;
}
p {
	margin: 0;
	font-size: 12px;
	margin-bottom: 30px;
}
span {
	font-size: 12px;
	color: #999;
}
/* Todo "a" dentro de "p" */
p a {
	color: lightblue;
	text-decoration: none;
}
.form-row.no-bottom {
	margin-bottom: 10px;
}