* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}

.imgLogo {
	width: 120px;
}

.contenedor {
	width: 360px;
	margin: auto;
	padding: 1em;
}

.formInput {
	width: 100%;
}

.contenedor p {
	border-bottom: 1px solid #999;
	padding-bottom: 1em;
}