@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}

	.align-right {
		text-align: right;
	}

	/* Problema de las 3 columnas pero para 2 columnas */
	.menu-principal, .contenido-principal {
		display: flex;
		align-items: center;
		padding: 2em;
	}
	.col {
		flex: 1;
	}

	.col-titulo {
		text-transform: uppercase;
		color: #00a1ff;
		padding-bottom: 0.5em;
		font-size: 35px;
		width: 230px;
	}

	.col-titulo:after {
	    content: '';
	    display: block;
	    background-color: #00a1ff;
	    width: 50%;
	    height: 5px;
	    margin-top: 10px;
	}
	a .fas {
		font-size: 2em;
		color: #00a1ff;
	}
	
    .btn {
		background-color: #00a1ff;
		border: 0;
		color: #fff;
		line-height: 2em;
		border-radius: 5px;
		font-size: 16px;
		text-transform: capitalize;
		padding-left: 10px;
		padding-right: 10px;
		opacity: 0.7;
		cursor: pointer;
	}
}